# Dependencies
node_modules/
package-lock.json

# Build outputs & binaries
dist/
build/
*.exe
*.zip
*.7z
*.asar
app_source/
extracted_installer/

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Logs & Temporary Data
*.log
npm-debug.log*
yarn-debug.log*
.idea/
.vscode/
*.tmp
*.bak
ModData/
liked_tracks_auto_backup.json
